@import "./../../assets/scss/colors.scss";

.LogoutSec {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  .text-primary {
    color: var(--c-primary) !important;
  }
}
