.Home {
  flex: 1;
  flex-direction: column;
  align-content: center;
  .card {
    img {
      height: auto;
    }
  }
  ul.list-group {
    flex-direction: row;
    flex-flow: wrap;
    li {
      border-radius: 10px;
      border: 2px solid var(--c-primary);
    }
  }
}
