@import "./../../assets/scss/colors.scss";

.logo {
  color: $White;
  margin-right: 10px;
  font-size: 20px;
}

.badge {
  background-color: $CornflowerBlue;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.navbar {
  .nav-item {
    margin-right: 10px;
    .nav-link {
      &:hover {
        color: $White;
        text-decoration: underline;
      }
      &:focus {
        color: $White;
      }
    }
    .emailInfo {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      color: $White;
      padding: 0.5rem 1rem;
      font-size: 18px;
    }
  }
  a {
    color: $White;
    font-size: 18px;
  }
}
