@import "./../../assets/scss/colors.scss";

.HeaderMain {
  .logo {
    color: $White;
    margin-right: 10px;
    font-size: 20px;
  }

  .container-fluid {
    overflow-y: unset;
  }

  .badge {
    background-color: $White;
    border: 2px solid var(--c-primary) !important;
    color: var(--c-primary) !important;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
  }

  .navbar {
    .nav-item {
      margin-right: 10px;
      .nav-link {
        &:hover {
          color: $White;
          text-decoration: underline;
        }
        &:focus {
          color: $White;
        }
      }
    }
    a {
      color: $White;
      font-size: 18px;
    }
  }

  .emailInfo {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: $White;
    padding: 0.5rem 1rem;
    font-size: 18px;
  }

  .dropdown-menu {
    min-width: 70px;
    left: 20px;
    .dropdown-item {
      width: 20px;
      height: 30px;
      cursor: pointer;
      border-radius: 20px;
      margin-left: 16px;
      margin-top: 10px;
    }
    .colorA {
      background-color: $CornflowerBlue;
    }
    .colorB {
      background-color: $Green;
    }
    .colorC {
      background-color: $Purple;
    }
  }
}
