.cartRecipe {
  p.h3 {
    color: var(--c-primary) !important;
  }
  .iconsBtn {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    svg {
      cursor: pointer;
    }
    p {
      color: black;
      margin-bottom: 0px;
    }
  }
}
