.CartRecipe {
  h2 {
    color: #ffffff;
  }
  .sub-main {
    flex: 1;
    flex-direction: row;
    justify-content: center;
    td.price {
      width: 150px;
    }
  }
  .alert {
    p {
      font-weight: bold;
      display: inline;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
