.logInSection {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  .cards {
    width: 50vh;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 1px 1px 6px 2px #424141;
    background-color: #ffffff;
    margin-bottom: 10px;
  }
}
