@import "./colors.scss";

$theme-colors: (
  "primary": $CornflowerBlue,
  "secondary": #6c757d,
  "danger": #f71212,
  "success": #198754,
  "warning": #ffc107,
  "info": #0dcaf0,
  "light": #f8f9fa,
  "dark": #212529,
  "bgSecondary": #c9dffe,
);
.active {
  border: 1px solid #c9dffe;
  border-radius: 20px;
  font-weight: bold;
  color: $CornflowerBlue !important;
  background-color: #c9dffe;
}
hr {
  border: 1px solid $White !important;
  height: 3px !important;
  background-color: $White !important;
}

.btn-danger, .btn-primary {
  color: $White !important;
  margin-left: 10px;
}

.toast:not(.show) {
  display: block !important;
  position: fixed;
  right: 40px;
  top: 70px;
}

@import "~bootstrap/scss/bootstrap.scss";
