.logo {
  color: #ffffff;
  margin-right: 10px;
}

.navbar {
  .nav-item {
    margin-right: 10px;
    .nav-link {
      &:hover {
        color: #ffffff;
        text-decoration: underline;
      }
      &:focus {
        color: #ffffff;
      }
    }
    .emailInfo {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      color: #ffffff;
      padding: 0.5rem 1rem;
    }
  }
  a {
    color: #ffffff;
  }
}
