.Products {
    h2, p  {
      color: #ffffff;
    }
    .sub-main {
      flex: 1;
      flex-direction: row;
      justify-content: center;
    //   .card {
    //     flex-direction: row;
    //     justify-content: space-evenly;
    //   }
    //   .form-switch {
    //     font-size: 30px;
    //   }
    //   .form-check-input:checked {
    //     background-color: #198754;
    //     border-color: #198754;
    //   }
    //   div.filterTitle {
    //     color: #0074d9;
    //     font-size: 30px;
    //   }
    }
  }
  