@import "./../assets/scss/colors.scss";

.mainSection {
  h2,
  p {
    color: $White;
  }
  .sub-main {
    flex: 1;
    flex-direction: row;
    justify-content: center;
  }
  .alert {
    p {
      font-weight: bold;
      display: inline;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
