@import "./../../../assets/scss/colors.scss";

.ProductItems {
  .card {
    box-shadow: 1px 1px 2px 2px #80808061;
  }
  p.card-text {
    color: $Black !important;
  }
  .likeSection {
    font-size: 30px;
  }
  .likeSection > div {
    flex: 1;
    padding: 10px;
  }
  .likeSection .likes {
    color: var(--c-primary);
  }
  .likeSection .fav {
    color: $Red;
  }
  .likeSection .pop {
    color: $Yellow;
  }
  .text-primary {
    color: var(--c-primary) !important;
  }
}
