@import "./../../../assets/scss/colors.scss";

.ProductItems {
  p.card-text {
    color: $Black !important;
  }
  .likeSection {
    font-size: 30px;
  }
  .likeSection > div {
    flex: 1;
    padding: 10px;
  }
  .likeSection .likes {
    color: $CornflowerBlue;
  }
  .likeSection .fav {
    color: $Red;
  }
  .likeSection .pop {
    color: $Yellow;
  }
}
